

.nav-ul {
  padding: 5px;
  background-color: black;
  margin: 0;
}


.nav-ul li a{
  color: white;
  text-decoration: none;
  padding: 5px;
}

.search-input{
  width: 500px;
  height: 25px;
  margin: 20px;
  border: 1px solid skyblue;
  padding: 10px;
  border-radius: 10px;

}

.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-name{
  text-align: right;
}


.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: black;
  width: 100%;
  color: white;
}

.inputbox{
  display: block;
  margin: 40px;
  /* margin-left: 30px; */
  padding: 7px;
  width: 400px;
  /* width: 350px; */
  height: 35px;
  /* height: 35px; */
  border: 1px solid skyblue;
}

.register{
  margin-left: 30%;
  background-image: url("https://images.alphacoders.com/292/292151.jpg");
  background-position: center;
  background-size:cover;
  width: 50%;
  height: 100vh;
  /* margin: auto; */
  display: block;

  
  
}
.login , .nav-add{
  margin-left: 30%;
  margin-top: 100px;
  
}

.invalid-input{
  color: red;
  margin-top: -20px;
  margin-left: -20px;
}

.product{
  margin-top: 50px;
  text-align: center;
  
}

.product ul li{
  display: inline-block;
  border: 1px solid lightblue;
  padding: 5px;
  width: 150px;
}


.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: skyblue;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 2px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button :hover{
  color: white;
  background-color: black;
}

button {
  color: black;
  background-color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
